
Django==5.1.4
django-environ==0.11.2
django-tinymce==4.1.0
pillow==11.0.0
whitenoise==6.8.2
psycopg2-binary
dj-database-url
daraja_client
dj-database-url
pillow==11.0.0
psycopg2-binary==2.9.10
qrcode==8.0
requests==2.32.3
whitenoise==6.8.2
