{% extends 'main.html' %}
{% load static %}

{% block content %}
<!-- popup register -->

<!-- Get In Touch With Us Area -->
<section class="get_touch_area" style="padding-top: 120px;">
    <div class="row" style="justify-content: center;">
        
        <div class="col-lg-6 " >
            <div class="row" style="justify-content: center;"><b>Create Coupones</b></div>
            <div class="from_area">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %}
                <form class="from_main" action="{% url 'create_coupones' business.slug %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <select class="form-control" name="coupone_type" style="height: 55px;" placeholder="Select Coupone Type" required>
                            <option value="">Select Coupone Type</option>
                            <option value="redeemed individually">redeemed individually</option>
                            <option value="stacked up">stacked up</option>
                            <option value="direct ticket to a challenge">direct ticket to a challenge</option>
                            <option value="refferal coupon">refferal coupon</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" name="coupone_apply_to" style="height: 55px;" placeholder="Select Coupone Type" required>
                            <option value="">Coupone Code Applys To</option>
                            <option value="all products">all products</option>
                            <option value="specific products">specific products</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" name="discount" class="form-control" placeholder="Percentage Discount" required>
                    </div>
                    <div class="form-group">
                        <input type="number" name="expiry_in" class="form-control" placeholder="Enter Number Of days after which coupone expires" required>
                    </div> 
                    <div class="form-group">
                        <input type="number" name="total_coupones" class="form-control" placeholder="How many coupones should be created" required>
                    </div>
                    
                    <div class="form-group m-0 btn_g">
                        <button class="theme_btn btn" id="registerButton" type="submit" >Create Coupones</button>
                    </div>
                </form>
        </div>

        
    </div>
</section>
<!-- Get In Touch With Us Area -->
<script>
    // Add an event listener to the form submission
    document.addEventListener('DOMContentLoaded', function () {
        const loginButton = document.getElementById('registerButton');
        const form = loginButton.closest('form'); // Find the closest form element

        if (form) {
            form.addEventListener('submit', function () {
                // Disable the button
                loginButton.disabled = true;

                // Update the button text
                loginButton.textContent = "creating coupones...";
            });
        }
    });
</script>
{% endblock %}
