{% extends 'business/main.html' %}
{% load static %}
{% load humanize%}
{% block title %} Coupones Lists {% endblock%}
{% block content %}

<main id="main" class="main">
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


    {% endfor %}
{% endif %}

    <div class="pagetitle">
      <h1>Challenges Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' business.slug %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Data</li>
          
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body overflow-auto">
              <h5 class="card-title">Challenges</h5>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                search anything 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">Challenge</th>
                    <th scope="col">Rewards</th>
                    <th scope="col">Target Winners</th>
                    <th scope="col">Day Of Challenge</th>
                    <th scope="col">Participants</th>
                    <th scope="col">Winners</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Challenge Closed</th>
                  </tr>
                </thead>
                <tbody>
                  {% for challenge in challenges %}
                  <tr>
                    <th scope="row"><a href="{% url 'view_store_challenge' business.slug %}?challenge_id={{challenge.id}}" style="cursor: pointer">{{challenge.challenge_name}}</a></th>
                    <td scope="row">{{challenge.challenge_reward}}</td>
                    <td scope="row">{{challenge.target_winners}}</td>
                    <td  scope="row">{{ challenge.day_of_the_challenge}}</td>
                    <td scope="row">{{challenge.participants.count}}</td>
                    <td scope="row">{{challenge.winners.count}}</td>
                    <td scope="row">{{challenge.date_created}}</td>
                    <td scope="row"><a href="{% url 'store_challenges' business.slug %}?update={{challenge.id}}" title="update"> {% if challenge.closed %}Yes {% else %}No {%  endif %}</a></td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

</main><!-- End #main -->
{% endblock %}