{% extends 'business/main.html' %}
{% load static %}
{% load humanize%}
{% block title %} {{ challenge.challenge_name}} {% endblock%}
{% block content %}

<style>
        .coupon-card {
            width: 280px;
            border-radius: 10px;
            background: linear-gradient(135deg, #007bff, #ffcc00);
            padding: 10px;
            color: white;
            margin: auto;
            text-align: center;
        }
        .coupon-code {
            background-color: white;
            color: black;
            padding: 5px;
            margin: 10px 0;
            border-radius: 5px;
            font-weight: bold;
        }
        .qr-code {
            margin-top: 15px;
        }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>

<main id="main" class="main">
    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


    {% endfor %}
    {% endif %}
    <div class="pagetitle">
      <h1>{{ challenge.challenge_name}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'store_challenges' business.slug %}">View Challenges</a></li>
          <li class="breadcrumb-item"><a href="{% url 'create_store_challenge' business.slug %}">Create Challenge</a></li>
          <li class="breadcrumb-item active">Challenge</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <h2>{{ challenge.challenge_name}}</h2>
              <h3>Date Created: {{ challenge.date_created}}</h3>
              <h3>Challenge Closed: {% if challenge.closed %} Yes {% else %} No {% endif %}</h3>
              
            </div>
          </div>
          <!-- display qr code that customers can scan and get random qrcoded added to partiipate in the challenge -->
          <div class="card">
            <div class="">
              <div class="container mt-2 mb-1 ms-1 align-items-center">
                <div class="coupon-card" id="couponCardId">
                    <h3><b>{{ business.business_name|title }}</b>
                    </h3>
                      <p style="text: small">{{ business.address }}</p>
                    <div class="qr-code">
                        <img src="data:image/png;base64,{{ qr_code_image }}" alt="QR Code" class="img-fluid">
                    </div>
                    <h6 class="mt-2" style="color: black;"><b>Scan the QR code above to stand a chance to win {{challenge.challenge_reward}}</b></h6>
                </div>
                <canvas id="canvas" style="display: none;"></canvas>
                
                <button class="btn btn-primary coupon-card mt-1 " id="downloadBtn">Download Qr Code</button>
              </div>
            </div>
          </div>
          {% if staff %}
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <a class="icon coupon-card" href="{% url 'view_store_challenge' business.slug %}?challenge_id={{challenge.id}}&select_winners=select_winners&next_url={{request.build_absolute_uri}}">Click To Select Winners</a>
              
            </div>
          </div>
          {% endif %}

        </div>
        

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Paticipants</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings"> Winners </button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">{{ challenge.challenge_name}}</h5>
                  <p class="small fst-italic">Challenge Date: {{ challenge.day_of_the_challenge}}</p>

                  <h5 class="card-title">Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Challenge Type</div>
                    <div class="col-lg-9 col-md-8">{{ challenge.challenge_type }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Challenge Reward</div>
                    <div class="col-lg-9 col-md-8">{{ challenge.challenge_reward }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Target Winners</div>
                    <div class="col-lg-9 col-md-8">{{ challenge.target_winners}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">No. of Participants</div>
                    <div class="col-lg-9 col-md-8">{{challenge.participants.count}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">winners</div>
                    <div class="col-lg-9 col-md-8">{{ challenge.winners.count}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Date Created</div>
                    <div class="col-lg-9 col-md-8">{{ challenge.date_created}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Created By</div>
                    <div class="col-lg-9 col-md-8">{{ challenge.closed }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Created By</div>
                    <div class="col-lg-9 col-md-8">{{ challenge.created_by}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  
                    {% for coupone in challenge.participants.all %}
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-3 col-lg-3 col-form-label">{{coupone.code}}</label>
                      <div class="col-md-8 col-lg-3">
                        {{coupone.customer.user.first_name}} {{coupone.customer.user.last_name}}
                      </div>
                      {% if staff %}
                      <div class="col-md-8 col-lg-6">
                        {{coupone.customer.user.email}}
                      </div>
                      {% endif %}
                    </div>
                    {% endfor %}

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                    {% for winner in challenge.winners.all %}
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-3 col-lg-3 col-form-label">{{winner.code}}</label>
                      <div class="col-md-8 col-lg-3">
                        {{winner.customer.user.first_name}} {{winner.customer.user.last_name}}
                      </div>
                      {% if staff %}
                      <div class="col-md-8 col-lg-6">
                        {{winner.customer.user.email}}
                      </div>
                      {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

</main><!-- End #main -->

<script>
    document.getElementById('downloadBtn').addEventListener('click', function () {
        const downloadBtn = document.getElementById('downloadBtn');
        const targetDiv = document.getElementById('couponCardId');

        // Display download progress message
        downloadBtn.innerText = 'Download in Progress...';
        downloadBtn.disabled = true;

        domtoimage.toPng(targetDiv, { 
            quality: 1,
            bgcolor: "white",
            style: {
                width: '280px',
                borderRadius: '10px',
                background: 'linear-gradient(135deg, #007bff, #ffcc00)',
                padding: '10px',
                color: 'white',
                margin: 'auto',
                textAlign: 'center',
                fontFamily: 'Arial, sans-serif'
            }
        })
        .then(function (dataUrl) {
            const link = document.createElement('a');
            link.download = `coupone-code-{{coupon.id}}.png`;
            link.href = dataUrl;
            link.click();

            // Reset download button text after download
            downloadBtn.innerText = 'Download Coupon Code';
            downloadBtn.disabled = false;
        })
        .catch(function (error) {
            console.error('Oops, something went wrong!', error);

            // Reset download button text if an error occurs
            downloadBtn.innerText = 'Download Coupon Code';
            downloadBtn.disabled = false;
        });
    });
</script>
  {% endblock %}